@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .custom-popup .leaflet-popup-content-wrapper {
    background-color: #f0f0f0;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    border-radius: 12px;
  }

  .custom-popup .leaflet-popup-tip {
    background: #f0f0f0;
  }

  .leaflet-routing-container-custom {
    background: beige;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
  }

  @media (max-width: 768px) {
    .leaflet-routing-container-custom {
      max-height: 100px;
    }
  }
}
